*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$font-family: 'Mulish', sans-serif;
$size-357: 357px;
$size-356: 356px;
$size-350: 350;

body{
    background-color: #fff;
    nav{
        width: 1109px;
        height: 23px;
        margin-left: 159px;
        margin-top: 59px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .nav-img{
            width: 90.13px;
            height: 19.34px;
            margin-left: 0;
            margin-top: 0.12px;
        }
        .nav-list{
            width: 200px;
            height: 23px;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: center;
            position: absolute;
            right: 0;
            
            a{
                font-family: $font-family;
                text-decoration: none;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 23px;
                letter-spacing: -0.346154px;
                color: #111111;
            }
        }
    }
    header{
        div{
            display: inline-block;
        }
        .header-title{
            width: 638px;
            // width shold be 635px but text not enough so that why i changed the size.
            height: 251px;
            margin-left: 125px;
            margin-top: 98px;
            font-family: $font-family;
            font-style: normal;
            font-weight: bold;
            float: left;
            
            h4{
                font-size: 22px;
                line-height: 28px;
                letter-spacing: -0.423077px;
                color: #4a4ff2;
            }
            p{
                font-size: 40px;
                line-height: 60px;
                color: #111;
                margin-top: 32px;
                
                span{
                    color: #4a4ff2;
                }
            }
        }
        .header-quote{
            width: 220px;
            // width shold be 212px but text not enough so that why i changed the size.
            height: 23px;
            margin-left: 190px;
            margin-top: 292px;
            mix-blend-mode: normal;

            .header-quote-rect{
                width: 30px;
                height: 2px;
                background-color: #111;
                opacity: 0.5;
            }
            p{
                font-family: $font-family;
                font-style: italic;
                font-weight: normal;
                font-size: 18px;
                line-height: 23px;
                color: #111;
                opacity: 0.6;
            }
        }
    }
    main{
        .main-img-container{
            width: 1110px;
            height: 1960px;
            margin-left: 125px;
            margin-top: 144px;
            display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // grid-template-rows: repeat(4, 1fr);
            // Its giving error
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
        .group-text{
            width: 635px;
            height: 106px;
            margin-left: 126px;
            margin-top: 91px;
        }
    }
}
